<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Search Engine</title>

<body >

    <header class="header">
        <a href=/home>
          <h2 class="header__logo">DSA SEARCH ENGINE</h2>
        </a>
      </header>

    <div class="search_page_one">
      <h2 class="intro"> Search DSA Problem </h2>
      <form action="/home" method="POST">
        <input class="main_search_box" type="text" name="name" placeholder="Search dsa problem" required>
        <input class="main_submit" type="submit"  value="Search">
      </form>
    </div>


    </form>
    
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
</body>

</html>